<nav class="navbar  navbar-expand-lg  bg-dark d-flex">
    <a class="nav-link text-white" href="/">Office PostBoard</a>
    <a class="nav-link text-white" href="/CreatePost">Write Your Post</a>
    <a class="nav-link text-white" href="/Register">Register</a>
    <a class="nav-link text-white" href="/Login">Log in</a>
    <a class="nav-link text-white" href="/User">Account</a>
    <a class="nav-link text-white" href="/Logout">Log out</a>
</nav>